.dark body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    131deg,
    rgba(0, 0, 0, 1) 48%,
    rgba(72, 211, 128, 1) 100%
  );
}
body {
  min-height: 100vh;
  background: rgb(160, 212, 181);
  background: linear-gradient(
    131deg,
    rgb(212, 212, 212) 26%,
    rgb(34, 197, 94) 100%
  );
}
.dark .cardBody {
  background: rgba(70, 70, 70, 0.3) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(104, 104, 104, 0.5) !important;
}
.cardBody {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
}